.contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 40px;
}
.offer{
    color: orange;
    font-size: 13px;
    font-weight: bold;
}
.strick{
    color: gray;
    text-decoration: line-through;
}
.price{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.btn{
    color: #ff6f3c;
    margin-top: 5px;
}
.cross{
    position: absolute;
    border-radius: 50%;
    border: 2px solid;
    margin-left: 200px;
    margin-top: 5px;
    margin-right: 40px;
}